In [1]:
import graphlab

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to pukaracharya2052@gmail.com and will expire on July 25, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1503425388.log

In [3]:
train_data, test_data = sales.random_split(0.8, seed=0)

In [4]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [5]:
len(sales)

21613

In [10]:
house_price = sales['price']

In [11]:
total_house_price = house_price.sum()

In [12]:
mean_price = total_house_price/len(sales)

In [13]:
mean_price

540088.1419053348

In [16]:
def simple_linear_regression(input_feature, output):
    Xi = input_feature
    yi = output
    N = len(Xi)
    
    Xmean = Xi.mean()
    ymean = yi.mean()
    
    Xiyi = (Xi * yi).sum()
    Xiyi_mean = (Xi.sum() * yi.sum())/N
    
    XiXi = (Xi*Xi).sum()
    XiXi_mean = (Xi.sum() * Xi.sum())/N
    
    #slope = (y2-y1)/(x2-x1)
    slope = (Xiyi-Xiyi_mean) / (XiXi - XiXi_mean)
    
    #intercept ( y = mx + c) -> (c = y - mx)
    intercept = ymean - (slope * Xmean)
    
    return (intercept, slope)

In [17]:
sqft_intercept, sqft_slope = simple_linear_regression(train_data['sqft_living'], train_data['price'])

In [18]:
sqft_intercept

-47116.07657494

In [19]:
sqft_slope

281.9588385676974

In [20]:
# For prediction purpose
def get_regression_predictions(input_feature, intercept, slope):
    # y = w0 + w1 * xi
    predicted_output = intercept + (slope * input_feature)
    return predicted_output

# Quiz 1

In [25]:
house_square_feet = 2650
estimated_value = get_regression_predictions(house_square_feet,sqft_intercept, sqft_slope)

In [26]:
estimated_value

700074.8456294581

# Quiz 2

In [27]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    # RSS = square of - difference between output and predictions
    predicted_output = intercept + (slope * input_feature)
    error = output - predicted_output
    RSS = (error * error).sum()
    return RSS

In [29]:
test_feature = graphlab.SArray(range(5))
test_output = graphlab.SArray(1 + 1*test_feature)
(test_intercept, test_slope) =  simple_linear_regression(test_feature, test_output)

In [30]:
get_residual_sum_of_squares(test_feature, test_output, test_intercept, test_slope)

0.0

# Quiz 3

In [31]:
# Earlier we used to get y as y = ( w0 + w1 * x ). Now find x as (y - w0) / w1
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept)/slope
    return estimated_input

In [36]:
house_cost = 800000
estimated_square_feet = inverse_regression_predictions(house_cost, sqft_intercept, sqft_slope)

In [37]:
estimated_square_feet

3004.396247615945

# Quiz 4

In [38]:
# Use No_Of_Bedrooms as the parameter for price prediction, instead of Square_feet
bedroom_intercept, bedroom_slope = simple_linear_regression(train_data['bedrooms'], train_data['price'])

In [39]:
bedroom_intercept

109473.1804692882

In [40]:
bedroom_slope

127588.95217458377

# Quiz 5

In [41]:
# Computing RSS on both model

In [45]:
sqft_intercept, sqft_slope = simple_linear_regression(train_data['sqft_living'], train_data['price'])
rss_prices_on_sqft = get_residual_sum_of_squares(test_data['sqft_living'], test_data['price'], sqft_intercept, sqft_slope)

In [46]:
rss_prices_on_sqft

275402936247141.47

In [47]:
bedroom_intercept, bedroom_intercept = simple_linear_regression(train_data['bedrooms'], train_data['price'])
rss_prices_on_bedroom = get_residual_sum_of_squares(test_data['bedrooms'], test_data['price'], bedroom_intercept, bedroom_slope)

In [48]:
rss_prices_on_bedroom

494335231694489.56